{
    "version": "2.0.0",
    "tasks": [
        {
            "label": "Build",
            "type": "shell",
            "command": "{{.BasePath}}/emulator/sjasmplus",
            "args": [
            {{if (eq .Type "DRV")}}
                "src/driver.asm",
            {{else}}
                "src/main.asm",
            {{end}}
                "--zxnext=cspect",
                "--inc=inc",
                "--msg=war",
                "--fullpath",
                "--sym={{.Name}}.sym",
                "--sld={{.Name}}.sld",
                "--lst={{.Name}}.lst"
            ],
            "problemMatcher": {
                "fileLocation": [
                    "relative",
                    "${workspaceRoot}"
                ],
                "pattern": {
                    "regexp": "^(.*)\\((\\d+)\\):\\s+(warning|error):\\s+(.*)$",
                    "file": 1,
                    "line": 2,
                    "severity": 3,
                    "message": 4
                }
            },
            "group": {
                "kind": "build",
                "isDefault": true
            }
        },
        {
            "label": "Update SDCard",
            "type": "shell",
            {{if (eq .Type "NEX")}}
            "command": "{{.BasePath}}/emulator/hdfmonkey put {{.BasePath}}/sdcard/tbblue-dev.sd {{.Name}}.nex",
            {{else if (eq .Type "DOT")}}
            "command": "{{.BasePath}}/emulator/hdfmonkey put {{.BasePath}}/sdcard/tbblue-dev.sd {{.Name}} /dot/",
            {{else}}
            "command": "{{.BasePath}}/emulator/hdfmonkey put {{.BasePath}}/sdcard/tbblue-dev.sd {{.Name}}.drv",
            {{end}}
            
            "dependsOrder": "sequence",
            "dependsOn": [
                "Build",
            ],
            "problemMatcher": []
        },
        {{if (eq .Emulator "cspect")}}
        {
            "label": "Launch CSpect",
            "type": "shell",
            {{if (isWindows)}}
            "command": "{{.BasePath}}/emulator/CSpect.exe -esc -r -w2 -brk -zxnext -nextrom -mmc={{.BasePath}}/sdcard/tbblue-dev.sd",
            {{else}}
            "command": "mono {{.BasePath}}/emulator/CSpect.exe -esc -r -w2 -brk -zxnext -nextrom -mmc={{.BasePath}}/sdcard/tbblue-dev.sd",
            {{end}}
            "dependsOrder": "sequence",
            "dependsOn": [
            ]
        }
        {{else}}
        {
            "label": "Launch ZEsarUX",
            "type": "shell",
            "command": "{{.BasePath}}/emulator/zesarux --romfile {{.BasePath}}/emulator/tbblue_loader.rom --mmc-file {{.BasePath}}/sdcard/tbblue-dev.mmc --enable-mmc --enable-divmmc-ports --machine tbblue --realvideo --enable-remoteprotocol",
            "dependsOrder": "sequence",
            "dependsOn": [
            ]
        }
        {{end}}
    ]
}