{
    "version": "2.0.0",
    "tasks": [
        {
            "label": "Build",
            "type": "shell",
            "command": "{{.DevPath}}/emulator/sjasmplus",
            "args": [
                "src/main.asm",
                "--zxnext=cspect",
                "--inc=inc",
                "--msg=war",
                "--fullpath",
                "--sym={{.Name}}.sym",
                "--sld={{.Name}}.sld",
                "--lst={{.Name}}.lst"
            ],
            "problemMatcher": {
                "fileLocation": [
                    "relative",
                    "${workspaceRoot}"
                ],
                "pattern": {
                    "regexp": "^(.*)\\((\\d+)\\):\\s+(warning|error):\\s+(.*)$",
                    "file": 1,
                    "line": 2,
                    "severity": 3,
                    "message": 4
                }
            },
            "group": {
                "kind": "build",
                "isDefault": true
            }
        },
        {
            "label": "Update SDCard",
            "type": "shell",
            "command": "{{.DevPath}}/emulator/hdfmonkey put {{.DevPath}}/sdcard/tbblue-dev.mmc {{.Name}}.nex",
            "dependsOrder": "sequence",
            "dependsOn": [
                "Build",
            ],
            "problemMatcher": []
        },
        {{if (eq .Emulator "cspect")}}
        {
            "label": "Launch CSpect",
            "type": "shell",
            "command": "{{.DevPath}}/emulator/cspect -r -w2 -brk -zxnext -nextrom -mmc={{.DevPath}}/sdcard/tbblue-dev.mmc",
            "dependsOrder": "sequence",
            "dependsOn": [
            ]
        }
        {{else}}
        {
            "label": "Launch ZEsarUX",
            "type": "shell",
            "command": "{{.DevPath}}/emulator/zesarux --romfile {{.DevPath}}/emulator/tbblue_loader.rom --mmc-file {{.DevPath}}/sdcard/tbblue-dev.mmc --enable-mmc --enable-divmmc-ports --machine tbblue --realvideo --enable-remoteprotocol",
            "dependsOrder": "sequence",
            "dependsOn": [
            ]
        }
        {{end}}
    ]
}